-i https://pypi.org/simple
asgiref==3.11.1; python_version >= '3.9'
beautifulsoup4==4.14.3; python_full_version >= '3.7.0'
bs4==0.0.2
certifi==2026.2.25; python_version >= '3.7'
charset-normalizer==3.4.7; python_version >= '3.7'
django==6.0.4; python_version >= '3.12'
gunicorn==25.3.0; python_version >= '3.10'
idna==3.11; python_version >= '3.8'
lxml==6.0.4; python_version >= '3.8'
narwhals==2.19.0; python_version >= '3.9'
numpy==2.4.4; python_version < '3.14'
packaging==26.0; python_version >= '3.8'
pandas==3.0.2; python_version >= '3.11'
pillow==12.2.0; python_version >= '3.10'
plotly==6.7.0; python_version >= '3.8'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
requests==2.33.1; python_version >= '3.10'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
soupsieve==2.8.3; python_version >= '3.9'
sqlparse==0.5.5; python_version >= '3.8'
typing-extensions==4.15.0; python_version >= '3.9'
tzdata==2026.1; sys_platform == 'win32'
urllib3==2.6.3; python_version >= '3.9'
usau-scraper==0.4.0; python_version >= '3.7'
